body{
    background-image:url("https://d2aao99y1mip6n.cloudfront.net/_themes/sundered_lands/background.jpg");
    color: white;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

button{
    margin-top: 1em;
}

nav{
    margin-bottom: 1em;
}

a{
    text-decoration: none;
    color: white;
    font-size: 2em;
}

nav > a{
    font-size: 1.5em;
}

#runeImage{
    width: 20%;
    height: 75%;
}

.runeInfo{
    display: flex;
    margin: 5% 0;
}

.container{
    display: flex;
    flex-direction: column;
    margin-left: 5%;
}

.btnContainer{
    display: flex;
    align-content: center;
    justify-content: center;
}

.btnContainer > button{
    margin-top: 0;
    margin-right: 2%;
}

.runeImage{
    width: 20%;
    height: 75%;
}

.container > p{
    margin: 0;
}

.form-control{
    background-color:green;
    color: white;
}

.form-control > option{
    background-color: sandybrown;
}
