body{
    background-image:url("https://d2aao99y1mip6n.cloudfront.net/_themes/sundered_lands/background.jpg");
    color: white;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

button{
    margin-top: 1em;
}

.runeInfo{
    display: flex;
    margin: 5% 0;
}

.container{
    display: flex;
    flex-direction: column;
    margin-left: 5%;
}

.runeImage{
    width: 20%;
    height: 75%;
}

.container > p{
    margin: 0;
}

.form-control{
    background-color:green;
    color: white;
}

.form-control > option{
    background-color: sandybrown;
}