<main>
	<h2>Spells</h2>

	{{#each spells}}
			<img src="https://d2aao99y1mip6n.cloudfront.net/images/runes/lg/{{hash}}.jpg" alt="Image not found">
            {{!-- <p>{{name}}</p> --}}
		</div>
	{{/each}}
</main>