<main>
{{!-- 	<h2>Spells</h2>

	{{#each spells}}
			<img src="https://d2aao99y1mip6n.cloudfront.net/images/runes/lg/{{hash}}.jpg" alt="Image not found">
            <p>{{name}}</p>
	{{/each}} --}}
    <form action="/" method="POST">
        <select name="option">
            <option value="" selected>Select One</option>
            <option value="champions">Champions</option>
            <option value="spells">Spells</option>
            <option value="relics">Relics</option>
            <option value="equipments">Equipments</option>
        </select>

        <input type="submit" value="Search">
    </form>

    <p id="errorMessage"></p>
</main>