<main>
    <select class="form-control" name="option">
        <option value="" selected>Select One</option>
        <option value="champions">Champions</option>
        <option value="spells">Spells</option>
        <option value="relics">Relics</option>
        <option value="equipments">Equipments</option>
    </select>

    <a id="pageLink" href="">
        <button class="btn btn-lg btn-dark btn-outline-success">
            Find
        </button>
    </a>

    <p id="errorMessage"></p>
</main>