<form action="">
    <select name="">
        <option selected>Select One</option>
        {{#each spells}}
            <option value="{{name}}">{{name}}</option>
        {{/each}}
    </select>
</form>